a{
  text-decoration: none;
}

.header{
  width: 100%;
  background-color: #980081;
}

header nav{
  display: flex;
  justify-content: center;

}
header nav .lista_padre{
  width: 25rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

.lista_padre > li {
  margin-right: 10%;
  cursor: pointer;
  text-align: center;
}

.lista_padre > li:hover {
  border-bottom: 1px solid #FFFFFF;
}

header nav .lista_padre a{
  color: #ffffff;
}

nav .lista_padre a {
  margin-right: 10px;
  color: #000000;
}

nav .lista_padre .menu-icon{
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 4.5rem;
  height: 4.5rem;
}

nav .lista_padre img{
  border-radius: 50%;
  margin-left: 10px;
}

.selected {
  border-bottom: 1px solid #FFFFFF;
}
